$primary-text: hsl(238, 29%, 16%);
$primary-text-accent: hsl(14, 88%, 65%);

$gradient: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));

$neutral-text-dark: hsl(237, 12%, 33%);
$neutral-text-light: hsl(240, 6%, 50%);

$divider: hsl(240, 5%, 91%);